/* this is to force border-box across the whole page*/
* {
    box-sizing: border-box;
}
/* setting the colors, font, and sizing of the header */
header{
    background-color: #262626;
    color: #F1FAEE;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72pt;
}

header h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
}
/* sets a fixed background from the main section down */
main{
   background-image: url(images/concrete.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   padding: 50px;
}
/* centering the image */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
}
/* Setting the position, size, and font of the text under the image */
.main-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.main-text h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36pt;
    color: #000000;
}

div.main-text h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: #000000;
}
/* setting the position and spacing of the icon links */
.row{
    display: flex;
    justify-content: center;
}

.column{
    display: inline-block;
    float: center;
    width: 50px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.social{
    display: block;
}
/* Setting background color, font size and color of the middle block */ 
.top-content {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #262626;
    color: #F1FAEE;
    padding: 50px;
}
/* used to center text within the bottom two blocks */
.wrapper{
    text-align: center;
    width: 600px;
    margin: 0 auto;
    font-size: 18pt;
}
/* used to bring numbers and text closer together at the bottom of the contact section */
.list {
    text-align: center;
    font-size: 18pt;
    width: 100px;
    margin: 0 auto;
}
/* setting the background color, font, font size, font color, etc. of the About and Contact sections */
article{
    display: block;
    background-color: #F1FAEE;
    align-content: center;
    color: #262626;
    padding-top: 50px;
    padding-bottom: 25px;
    size: 100pt;
}

.contact{
    padding-top: 1px;
}
/* simple footer */
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F1FAEE;
    background-color: #262626;
    padding: 50px;
    text-align: center;
}
/* formating link colors */
a:link{
    color: #3587A4;
}

a:visited{
    color: #AF7A6D;
}

a:hover{
    color: #1E2019;
}

a:active{
    color: #F1FAEE;
}